@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #0054ff;
  cursor: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  cursor: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto), Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.025em;
}

button,
a,
[role="button"] {
  cursor: none;
}

.peak-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference; /* color invert */
  will-change: transform, scale;
}
.peak-cursor div {
  transition: all 0.15s ease-out;
}
@media (pointer: coarse) {
  body {
    cursor: auto;
  }
  .peak-cursor {
    display: none;
  }
}
